/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height: 0.5em !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    height: 0.5em !important;
}

.css-zjiful-MuiTypography-root{
    font-weight: 600 !important;
    font-size: 24px !important;
    font-family: Poppins !important;
}

.css-cbftgh-MuiButtonBase-root-MuiButton-root{
    text-transform: none !important;
}

.Typography-Account-Text{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.015em;
text-align: left;
}
.forgot-Text {
    font-family: Poppins;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }
  
 
  .css-46bh2p-MuiCardContent-root:last-child{
    padding: 0px !important;
  } */