$primary-color: #FFC60B;

$font-size: 16px;
$font-small: 14px;

$white: #FFFFFF;
$black: #000000;
$black-shade-1: #181818;
$black-shade-2: #565656;
$black-shade-3: #9F9F9F;

$dark-brown: #4F200D;
$light-brown: #744F40;