$width0: 900px;
$width1: 200px;
.procedure-table {
    th.MuiTableCell-root {
        background-color: #FFF4D0;
        color: #181818;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.24px;
        margin: auto;
        width: $width1;
        td{
            &:first-child {               
                width: auto;
                margin-left: 0px;
            }
        }
        &:first-child {
            text-align: left;
            width: $width0;       
            .MuiFormControl-root {
                width: 24%;
            }     
        }
    }
    td.MuiTableCell-root {
        width: $width1;
        text-align: center;
        color: #565656;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.24px;
        &:first-child {
            width: $width0;
            text-align: left;            
        }
    }
}
.proceduredetails-page{
    position: relative;
    .top-section , .edit-details{
        position: fixed;
        background-color: #fff;
        z-index: 9;
    }
    .top-section{       
        top: 65px; 
    }
    .edit-details{       
        bottom: 0px;      
    }    
    .main-proceduredetails{
        padding: 13rem 1.5rem;
        height:100vh;
        overflow-y:scroll;     
        @media (max-width:899px){
            padding-top: 15px;
        }   
    }
    @media (max-width:899px){
        .top-section{
            position: relative; 
            width: 100% !important;     
            top: 0px !important;      
        }
    }
}
main.wide-class .proceduredetails-page .top-section , main.wide-class .proceduredetails-page .edit-details{
    width: calc(100% - 290px);
}
main.narrow-class .proceduredetails-page .top-section , main.narrow-class .proceduredetails-page .edit-details{
    width: calc(100% - 95px);
}
button.edit-btn {
    box-shadow: none !important;
    background: transparent !important;
    padding-right: 0px !important;
    text-transform: capitalize;
    color: #181818;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
}
.MuiFormControl-root.calender-sec.theadCalender{
    width: 150px;
}
.menuItem{
    font-size: 12px;
    border-bottom: 1px solid #F3F3F3;
}
.menuItem:hover{
    background-color: #565656;
}
// .css-cx3av1-MuiGrid-root{
//     max-width: 100% !important;
// }
// .css-14b6npa-MuiGrid-root {
// display: block !important;
// }
// .css-11w94w9-MuiTableCell-root{
//     text-align: center !important;
// }
// .css-1ygcj2i-MuiTableCell-root {
//     text-align: center !important;
// }
// .css-1nf681w-MuiTableCell-root {
//     line-height: 4.50 !important;
// }
// .css-pjjt8i-MuiToolbar-root{
//     display: none !important;
// }